@font-face {
    font-family: PoppinsBold;
    src: url('../webfonts/Poppins-Bold.ttf');
  }

  @font-face {
    font-family: PoppinsSemiBold;
    src: url('../webfonts/Poppins-SemiBold.ttf');
  }

  @font-face {
    font-family: PoppinsRegular;
    src: url('../webfonts/Poppins-Regular.ttf');
  }

.purple-bar {
    height: 5px;
    width: 100%;
    background-color: purple;
}

.navbar, .dropdown-menu {
    background-color: black;
    font-family: PoppinsRegular;
}

.dropdown-item:hover, .nav-link:hover {
    background-color: black;
    color: #F0FF00;
}

.navbar a, .dropdown-menu a {
    color: white;
}

.dropdown-toggle {
    color: #F0FF00 !important;
}

.nav-item, dropdown-item {
    font-family: PoppinsSemiBold;
}

.evidence {
    background-color: #F0FF00;
    font-family: PoppinsBold;
    color: black;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.introbg{
    float: right;
    position: absolute;
    height: auto;
    width: 65%;
    right:0;
    filter: sepia(70%);
}

.introtext {
    background-color: white;
    width: 35%;
    vertical-align: middle;
}

.introtext .t1 {
    font-family: PoppinsBold;
    font-size: 5em;
    line-height: .7;
}

.introtext .t2 {
    font-family: PoppinsRegular;
    line-height: .9;
    font-size: 3em;
}

.introtext .evidence {
    background-color: #F0FF00;
    font-family: PoppinsBold;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
